@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply transition-colors duration-500 ease-linear
}

/* Custom smooth scrolling */
html {
  scroll-behavior: smooth;
}

/* Base body styles */
body {
  @apply bg-light text-dark;
}